@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
.Header{
    
   
    width: 630px;
    font-family: 'Comfortaa', cursive;
    margin-top: 80px;
    margin-left: 650px;
    
    

    
}.Header h1{
    font-size: 50px;
    text-shadow: 3px 3px #B0B0B0;
    
}.collap{
    display: flex;
    width: 1000px;
    align-content: center;
    margin-left: 70px;
}.contentHome{
    display: flex;
}.titleHome{
    font-family: 'Comfortaa', cursive;
    margin-top: 200px;
    margin-left: 100px;
    
}.titleHome h2{
    font-size: 30px;
    
}.btn-2{
    border: none;
    background-color: white;
    margin-top:120px;
    margin-left:250px;

}.btn-2:hover::after{
    transform: translate(-5px,-5px);
    border: 3px solid #202020;
}.btn-2:hover::before{
    transform: translate(5px,5px);
    border: 3px solid gray;
}.btn-2::after, .btn-2::before{
    content: "";
    border: 3px solid #000;
    position: absolute;
    border-radius: 20px;
    width: calc(250px - 6px);
    height: calc(100px - 6px);
    left: 1350px;
    bottom: 325px;
    z-index: -1;
    transition: all 0.25s ease;
}
    
